.nav-name {
  font-family: "pulpo-rust-75", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

.nav-tabs {
  font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

nav {
  margin-bottom: 3%;
}

footer {
  background-color: rgb(255, 166, 0);
  text-align: center;
  font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5%;
  color: black;
}

.nav-link {
  color: rgb(255, 136, 0);
}

.nav-link:hover {
  color: rgb(248, 179, 51);
}

.footer {
  padding-top: 25px;
}

.info {
  text-align: center;
  font-family: "savate", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 20px;
}

.emphasis{
  font-weight: bold;
}


.revival{
  font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: center;
}

.revivals{
  font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
text-align: center;
  font-size: 40px;
}

.carousel{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.REVIVAL{
}

.revial-card{
  margin-bottom: 25px;
  background-color: rgb(255, 209, 101);
}

.revival-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(255, 186, 47);
}

.button{
  background-color: orange;
}

p{
  font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

.s{
    font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.titles-outfits{
    font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  background-color: orange;
  margin-top: 25px;
}

.p-outfits{
    font-family: "ranga", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  background-color: rgb(255, 194, 80);
}

ol{
list-style-position: inside;
        text-align: center;
        font-family: "protest-revolution", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 35px;
}

.encore{
  padding-top: 35px;
}

.setlist{
  text-align: center;
  font-family: "sadak", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 75px;
}
